.header-wrapper {
  display: flex;
  justify-content: space-between;  
  background-color: rgb(68, 138, 255);
  color: #fff;
  padding: 1em 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.calendar-header {
  position: relative;
}

.calendar-header p {
  margin: 0;
}

.header-year {
  font-size: 1.3rem;
  color: hsla(0,0%,100%,.5);
}

.header-date {
  /* width: 55%; */
  font-size: 2.2rem;  
}

.text-boxing:hover {
  background-color: rgb(85, 159, 255);
}

.text-boxing {
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  text-align: center;
}

.angle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14%;
  cursor: pointer;
  border-radius: 5px;
}

.angle:hover {  
  background-color: rgb(85, 159, 255);    
}

.year-container {
  height: 27px;
}