.today-container {
  /* background-color: rgb(39, 160, 140);;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
  cursor: pointer;
  padding: 0.6em;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600; */
}

.today-text {
  margin: 0;
}