@import-normalize; /* bring in normalize.css styles */

:root {
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.app {
  width: 400px;
  margin: 3em auto 0;
  background-color: #fff;
}

div, p {
  transition-property: background;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}