@import-normalize; /* bring in normalize.css styles */

:root {
  font-size: 16px;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.app {
  width: 400px;
  margin: 1em auto;
  background-color: #fff;
}