.year-list {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 300%;
  background-color: rgb(85, 159, 255);
  overflow-y: auto;
  border-radius: 5px;
}

.add-year {
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

.add-year:hover {
  color: hsla(0,0%,100%,.5);
  cursor: pointer;
}

